---
layout: master
title: VirtualMonitor
---

<div class='home-box' id='home-center'>

  <div class='post'>
<div class='body'>
<h2> News </h2>
{% capture VirtualMonitorIntroducing %}
    {% include VirtualMonitorIntroducing.md %}
  {% endcapture %}
  {{ VirtualMonitorIntroducing | markdownify }}

</div>
    <a href='{{post.url}}#disqus_thread'>View Comments</a>
  </div>
</div>

<div class='home-box' id='home-right'>
  <h2>Introducing</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
      <h3></h3>
      <ul>
	{% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  	{% endfor %}
      </ul>
    </div>
  </div>

  <h2>Thanks</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
      <ul>
        <li> <a href="http://www.virtualbox.org" target="_blank"> VirtualBox </a></li>
        <li> <a href="http://libvncserver.sourceforge.net" target="_blank"> Libvncserver </a></li>
        <li> <a href="http://www.reactos.org" target="_blank"> ReactOS</a></li>
        <li> <a href="http://www.justkernel.com" target="_blank"> JustKernel</a></li>
      </ul>
    </div>
  </div>
  <h2>Contact</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
      <ul>
        <li> <a href="mailto:Derek0883@gmail.com">Derek0883@gmail.com</a> </li>
      </ul>
    </div>
  </div>
</div>


