body {
  font-family: Rockwell, Verdana, sans-serif;
  letter-spacing: 0em;
  background: #fff repeat-x top;
  color: #353B40;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

a {
  color: #583;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #260;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#header {
  height:40px;
}
#header h1 {
  float: left;
}

#header h1 a {  
  margin-top: 10px;
  display: block;
  background:  no-repeat top left;
  width: 405px;
  height: 80px;
  text-indent: -999em;
}

#menu {
    /* Bar with personalized menu (user preferences, favorites etc) */
	background: #6e9b20 url(/images/green_gradient.gif) repeat-x top;
    border-bottom-color: #8CACBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: Black;
    padding-top: 0.1em;
    padding-right: 3em;
    text-align: right;
	height: 40px;
}
#menu a{
    background-color: transparent;
	color: #FFFFFF;
    /*font-weight: normal;*/
    margin-left: 1em;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
  margin-top: 10px;
}

#menu ul li {
  display: block;
  float: left;
  margin-left: 10px;
}

#menu ul li a {
  display: block;
  height: 20px;
}

#content {
  padding: 2em 0;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 1.5em;
}

#content p {
  line-height: 160%;
}

#submenu ul {
  list-style: none;
  text-align: left;
  line-height: 200%;
}

#submenu ul li {
  margin-left: -20px;
}

span.date {
  background: #6e9b20 url(/images/green_gradient.gif) repeat-x top;
  display: block;
  padding: 0.4em 0.6em 0.5em;
  font-weight: bold;
  color: white;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px -1px 5px rgba(0,0,0,0.4);    
  float: left;
  text-shadow: black 1px 1px 4px;
}

div.post {
  margin-bottom: 2em;
  color: #333;
}

.post h1 {
  margin-top: 0.2em;
}

.post h1 a, #content h2, #footer {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0.5em;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  background: #f8f8f8 url(/images/header_gradient.gif) repeat-x bottom;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-weight: normal;
  color: #000;
  z-index: 10000;
}

div.post h3 {
  color: black;
  margin: 1em 0 0.7em 0;
  font-weight: normal;
  font-size: 1.4em;
}

pre {
  overflow: auto;
  font-family: "Consolas",Monaco,"Courier New",Courier,monospace;
  letter-spacing: 0;
  display: block;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #262;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #ddd;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  background-position: top;
  margin: 2em auto 1em;
  width: 960px;
  color: #444;
  font-size: 0.9em;
  padding: 0.5em 0;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.home-box {
  float: left;
}

#content .home-box h2 {
  background: #6e9b20 url(/images/green_gradient.gif) repeat-x bottom;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #262;
  margin-bottom: 0em;
  color: white;
  font-weight: normal;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 0 5px rgba(0,0,0,0.5);
  box-shadow: 1px 0 5px rgba(0,0,0,0.5);
}

#content .home-box h2 a {
  font-weight: normal;
}

#content .home-box .post h1 {
  margin-top: 0;
}

.home-box h2 a {
  color: white;
  margin: 0 0.2em;
}

#home-left {
  width: 150px;
  margin-right: 1em;
  float: left;
}

#home-center {
  width: 780px;
}

#home-right {
  width: 200px;
  margin-left: 1em;
}

#gotgit-left {
  width: 120px;
  margin-right: 1em;
}

.clearfix { clear: both;}

code {
  font-size: 1em;
  font-family: "Consolas","Courier New",Courier,monospace;
}

.home-box .post h1 a {
  font-size: 0.7em;
}

.sidebar-item {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.1em 0.2em;
  margin: 0 0 0.8em 0;
  font-weight: bold;
  background: #f8f8f8 url(/images/header_gradient.gif) repeat-x bottom;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-weight: normal;
  color: #000;
  z-index: 10000;
  font-size: 0.8em;
  line-height: 150%;
}

.sidebar-item h3 {
  margin: 0 0 0.3em 0;
}
.sidebar-item h3 a {
  font-weight: normal;
  color: #426a25;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 1.2em;
}

.sidebar.big .sidebar-item {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }
